# Core
numpy==2.0.2

# PyTorch (CUDA 12.8 build)
torch==2.10.0+cu128
torchvision==0.25.0+cu128

# Transformers stack
transformers==5.0.0
accelerate==1.13.0
safetensors==0.7.0

# Tokenization
tokenizers==0.22.2
tiktoken==0.12.0

# Hugging Face
huggingface_hub==1.7.1

# LangChain
langchain==1.2.12
langchain-core==1.2.19
langchain-community==0.4.1
langgraph==1.1.2
controlnet_aux==0.0.10
ultralytics==8.4.24
langchain-huggingface==1.2.1
xformers==0.0.35
